
[loggers]
keys=root,daboLog,dbActivity

[handlers]
keys=consoleLogHandler,fileLogHandler,dbConsoleLogHandler,dbFileLogHandler

[formatters]
keys=basicFormatter

[logger_root]
level=WARNING
handlers=consoleLogHandler

[logger_daboLog]
level=WARNING
handlers=consoleLogHandler,fileLogHandler
qualname=dabo.mainLog
propagate=0

[logger_dbActivity]
level=WARNING
handlers=dbConsoleLogHandler,dbFileLogHandler
qualname=dabo.dbActivityLog
propagate=0

[handler_consoleLogHandler]
class=StreamHandler
level=WARNING
formatter=basicFormatter
args=(sys.stdout, )

[handler_fileLogHandler]
class=handlers.RotatingFileHandler
level=WARNING
formatter=basicFormatter
args=("dabo.log", "a", 5242880, 7, "utf8")

[handler_dbConsoleLogHandler]
class=StreamHandler
level=WARNING
formatter=basicFormatter
args=(sys.stdout, )

[handler_dbFileLogHandler]
class=handlers.RotatingFileHandler
level=WARNING
formatter=basicFormatter
### The default is to discard db log messages.
### Uncomment the second args line to add db logging.
args=(os.devnull, "a", 5242880, 7, "utf8")
#args=("db_activity.log", "a", 5242880, 7, "utf8")

[formatter_basicFormatter]
format=%(asctime)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
