*.py[cod]

# vim swap files
*.swp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# MacOS files
.DS_Store

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/*

# Venv
vdabo/*

.python-version

colorgrid.html

colors.html

create_colorgrid.py

dabo/hexdLocalize.py

dabo/icons/function.png

dabo/ui/convert.py

dec2hex.py

DEVENTS

dui

hello.py

hexcolorgrid.html

junk.py

photo.cnxml

webtest.cnxml
